li {
    display: inline;
    text-align: right;
    padding: 25px;
    border-left: 1px;
    font-size: 15pt;
  }
  ul {
    background-color: navy;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    text-align: right;

  }
  a {color: white; text-decoration: none;}

  h1 {text-align: center; color: navy;}

  img.logo {
      height: 150px; border-style: hidden; display: block; margin-right: auto; margin-left: auto;
  }

  img.stadium {height: 300px;}
  table {width: 1500px; margin-left: auto; margin-right: auto;}
tr, td { padding: 0px; vertical-align: top; height: fit-content; width: fit-content;}

a.schedule {
    color: navy; text-align: center;
}

p { 
    text-align: center;
}

h3 {
  text-align: center;
}

.twitter {
  width: 500px;
}

nav {
    justify-content: space-around;
    position: sticky;
    z-index: 100;
    align-items: center;
    min-height: 8vh;
}

.history1 {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.history2 {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.history3 {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.history4 {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
  color: rgb(213, 213, 225);
}


.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(9, 5, 230);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:rgb(9, 5, 230);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#aboutpara {
  font-size: medium;
}